<div class="container-fluid">
  <div class="row1">
    <section class="topCategory">
      
      <div class="kitchen" >
        <div class="card" style="width: 18rem;">
          <img routerLink="/kitchen" routerLinkActive="active" class="card-img-top" src="assets/images/Untitled.png" alt="Card image cap" [height]="cardImgHeight">
          <div class="card-body">
            <!-- <h5 class="card-title">Kitchen</h5> -->
            <p class="card-text">A Kitchen is always the heart of the home</p>
            <a routerLink="/kitchen" routerLinkActive="active" class="btn btn-danger">Go To Kitchen</a>
          </div>
        </div>
      </div>
      <div class="bedroom" >
        <div class="card" style="width: 18rem;">
          <img routerLink="/bedroom" routerLinkActive="active" class="card-img-top" src="assets/images/bedClip-art.png" alt="Card image cap" [height]="cardImgHeight">
          <div class="card-body">
            <!-- <h5 class="card-title">Bedroom</h5> -->
            <p class="card-text">A place where you live the most of your life</p>
            <a routerLink="/bedroom" routerLinkActive="active" class="btn btn-success">Go To Bedroom</a>
          </div>
        </div>
      </div>
      <div class="livingRoom" >
        <div class="card" style="width: 18rem;">
          <img routerLink="/livingRoom" routerLinkActive="active" class="card-img-top" src="assets/images/livingRoomClip-art.jpg" alt="Card image cap" [height]="cardImgHeight">
          <div class="card-body">
            <!-- <h5 class="card-title">Living Room</h5> -->
            <p class="card-text">Living room is where we think, to slow down the world for a second</p>
            <a routerLink="/livingRoom" routerLinkActive="active" class="btn btn-warning">Go To Living Room</a>
          </div>
        </div>
      </div>
    </section>
    <section class="locationCategory">
      <div class="shopLocation">
        <div class="card" style="width: 18rem;">
          <a href="https://g.page/RanaFurnitures?share" target="_blank">
            <img class="card-img-top" src="assets/images/location.png" alt="Card image cap" [height]="cardImgHeight">
          </a>
          <div class="card-body">
            <!-- <h5 class="card-title">Shop Location</h5> -->
            <p class="card-text">Contact Us? See shop Location, contact details here</p>
            <a href="https://g.page/RanaFurnitures?share" target="_blank" class="btn btn-primary">Go To Location</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>